@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  /* border: 1px solid currentColor; */
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  /* border: 1px solid currentColor; */
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

/* dl,
ol,
ul {
  margin: 1em 0; 
}*/
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --black--rgb: 2, 23, 27;
  --black: rgb(var(--black--rgb));
  --dark-green: #074d50;
  --green--rgb: 29, 99, 92;
  --green: rgb(var(--green--rgb));
  --turquoise--rgb: 20, 231, 198;
  --turquoise: rgb(var(--turquoise--rgb));
  --taupe--rgb: 218, 237, 233;
  --taupe: rgb(var(--taupe--rgb));
}

*:not(head, script, table, tbody, tfoot, thead, tr, td, th, p, code, span),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
}

html,
body {
  overflow: auto;
}

body {
  line-height: 1.5;
  font-size: 2.2rem;
  font-weight: 300;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
}

*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1400px;
}

@media (max-width: 760px) {
  .container {
    padding: 0 16px;
  }
}
.row {
  flex-wrap: wrap;
  flex-direction: row;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

p,
ul {
  margin: 0;
  color: var(--taupe);
}

a {
  text-decoration: none;
  color: var(--turquoise);
  transition: text-shadow 0.2s ease-out;
  display: contents;
}

a:hover {
  text-shadow: 0 0 0.5em var(--turquoise);
}

.header {
  text-align: center;
}
.header__title {
  background: url(../../images/moon.svg) center center no-repeat;
  background-size: auto 100%;
  padding: 4rem 0;
}
.header__title h1 {
  line-height: 1;
  letter-spacing: 14px;
}
.header__title h1 span:first-child {
  font-size: 13.4rem;
  color: #fff;
  font-weight: 400;
  font-family: "Audiowide", sans-serif;
  margin: 32px 0;
  text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}
.header__title h1 span:last-child {
  font-weight: 300;
  font-size: 3.9rem;
  text-shadow: none;
  color: var(--turquoise);
}
.header__text {
  margin: 16px 0 32px 0;
}
.header__text p {
  padding: 8px 16px;
}

.layout {
  flex-direction: row;
}

aside {
  height: calc(100vh - 3em);
  max-width: 268px;
  position: sticky;
  top: 1.5em;
  overflow: auto;
  padding: 24px;
  box-shadow: 0 0 0 1px var(--green);
}
aside .nav li {
  position: relative;
}
aside .nav__menu {
  margin-bottom: 24px;
}
aside .nav__title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
aside .nav__list {
  font-size: 1.4rem;
}
aside .nav__list li {
  padding: 4px 0;
}
aside .nav a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  width: 2px;
  background: var(--taupe);
}
aside .checkbox {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 1.6rem;
  color: var(--taupe);
  border-top: 1px solid var(--green);
  padding-top: 32px;
}
aside .checkbox label {
  cursor: pointer;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  flex: 1 0;
}
main .section {
  border-top: 1px solid var(--green);
}
main .section h2 {
  line-height: 1;
  letter-spacing: 6px;
  font-size: 5rem;
  color: #fff;
  font-weight: 400;
  font-family: "Audiowide", sans-serif;
  margin: 32px 0;
  text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}
main .section h3 {
  letter-spacing: 10px;
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
  font-family: "Audiowide", sans-serif;
  margin: 32px 0;
  text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}
main .section > p {
  font-size: 2.7rem;
  line-height: 1.5;
  opacity: 0.8;
  margin-bottom: 74px;
}
main .section code {
  padding: 2px;
  background: rgba(var(--taupe--rgb), 0.2);
  border-radius: 6px;
}
main .section li {
  margin-bottom: 32px;
}
main .card {
  margin-bottom: 74px;
}
main .card__head {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
main .card__head .triangle {
  padding: 10px;
  box-shadow: 0 0 0 1px var(--green);
  border-radius: 6px;
  display: block;
}
main .card__head .triangle__form {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent var(--taupe) transparent;
}
main .card__body {
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}
main .card__body__block {
  flex: 1 0;
  background: var(--black);
  line-height: 1.4;
  padding: 1em;
  border-radius: 4px;
}
main .card__body__block > .dashed-border {
  justify-content: space-between;
}
main .card__body__block .dashed-border {
  border: 2px dashed var(--green);
  border-radius: 4px;
  min-width: 156px;
  padding: 16px;
  margin: 10px;
  cursor: help;
  position: relative;
  color: var(--taupe);
  font-weight: 400;
}
main .card__body__block .dashed-border .adaptive-img--cover {
  width: 200px;
  height: 150px;
}
main .card__body__block .dashed-border:hover {
  border: 2px solid var(--turquoise);
  box-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}
main .card__body__block .dashed-border:hover::before {
  content: attr(data-name);
  position: fixed;
  z-index: 10;
  top: 16px;
  left: 50%;
  background-color: white;
  border-radius: 16px;
  padding: 8px;
  color: var(--green);
  font-weight: bold;
}
main .card__body__block .dashed-border:after {
  content: attr(data-name);
  position: absolute;
  top: -10px;
  left: 14px;
  background-color: var(--black);
  font-size: 1.3rem;
  padding: 0 6px;
  color: var(--turquoise);
}
main .card__body__aside {
  background-image: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
  padding: 2em 0.75em 0.5em;
  box-shadow: inset 0 1.5em 0 rgba(0, 0, 0, 0.05);
  width: 280px;
}
main .card__body__aside span {
  font-weight: bold;
}
main .card__body__aside p {
  color: #533f2d;
  font-size: 2rem;
}
main .card .wallpapers {
  margin-bottom: 48px;
  color: var(--taupe);
}

footer {
  background-image: url(../../images/1920x1080.png);
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
