*:not(head, script, table, tbody, tfoot, thead, tr, td, th, p, code, span),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
}

html,
body {
  overflow: auto;
}

body {
  line-height: 1.5;
  font-size: 2.2rem;
  font-weight: 300;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
}

*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"] > span,
*[class*="adaptive-img"] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*="adaptive-img"] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1400px;
}

@media (max-width: 760px) {
  .container {
    padding: 0 16px;
  }
}

.row {
  flex-wrap: wrap;
  flex-direction: row;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

p,
ul {
  margin: 0;
  color: var(--taupe);
}

a {
  text-decoration: none;
  color: var(--turquoise);

  transition: text-shadow 0.2s ease-out;

  display: contents;
}

a:hover {
  text-shadow: 0 0 0.5em var(--turquoise);
}
