.header {
  text-align: center;

  &__title {
    background: url(../../images/moon.svg) center center no-repeat;
    background-size: auto 100%;
    padding: 4rem 0;

    h1 {
      line-height: 1;
      letter-spacing: 14px;

      span {
        &:first-child {
          font-size: 13.4rem;
          @include title-decoration;
        }
        &:last-child {
          font-weight: 300;
          font-size: 3.9rem;
          text-shadow: none;
          color: var(--turquoise);
        }
      }
    }
  }
  &__text {
      margin: 16px 0 32px 0;
    p {
      padding: 8px 16px;
    }
  }
}

// changes from test branch