.layout {
  flex-direction: row;
}

aside {
  height: calc(100vh - 3em);
  max-width: 268px;
  position: sticky;
  top: 1.5em;
  overflow: auto;

  padding: 24px;
  box-shadow: 0 0 0 1px var(--green);

  .nav {

    li {
      position: relative;
    }
    &__menu {
      margin-bottom: 24px;
    }

    &__title {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    &__list {
      font-size: 1.4rem;

      li {
        padding: 4px 0;
      }
    }

    a:hover:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -8px;
      width: 2px;
      background: var(--taupe);
    }
  }

  .checkbox {
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-size: 1.6rem;
    color: var(--taupe);

    border-top: 1px solid var(--green);
    padding-top: 32px;

    label {
      cursor: pointer;
    }
  }
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  flex: 1 0;

  .section {
    border-top: 1px solid var(--green);

    h2 {
      line-height: 1;
      letter-spacing: 6px;
      font-size: 5rem;
      @include title-decoration;
    }

    h3 {
        letter-spacing: 10px;
        font-size: 3rem;
        @include title-decoration;
      }

    > p {
      font-size: 2.7rem;
      line-height: 1.5;
      opacity: 0.8;
      margin-bottom: 74px;
    }

    code {
      @include code-decoration;
    }

    li {
        margin-bottom: 32px;
    }
  }

  .card {
    margin-bottom: 74px;
    &__head {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      .triangle {
        padding: 10px;
        box-shadow: 0 0 0 1px var(--green);
        border-radius: 6px;
        display: block;

        &__form {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 20px 15px;
          border-color: transparent transparent var(--taupe) transparent;
        }
      }
    }

    &__body {
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;

      &__block {
        flex: 1 0;
        background: var(--black);
        line-height: 1.4;
        padding: 1em;
        border-radius: 4px;

        > .dashed-border {
          justify-content: space-between;
        }

        .dashed-border {
          border: 2px dashed var(--green);
          border-radius: 4px;
          min-width: 156px;
          padding: 16px;
          margin: 10px;
          cursor: help;

          position: relative;

          color: var(--taupe);
          font-weight: 400;

          .adaptive-img--cover {
              width: 200px;
              height: 150px;
          }

          &:hover {
            border: 2px solid var(--turquoise);
            box-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;

            &::before {
              content: attr(data-name);
              position: fixed;
              z-index: 10;
              top: 16px;
              left: 50%;

              background-color: white;
              border-radius: 16px;
              padding: 8px;
              color: var(--green);
              font-weight: bold;
            }
          }

          &:after {
            content: attr(data-name);
            position: absolute;
            top: -10px;
            left: 14px;
            background-color: var(--black);

            font-size: 1.3rem;
            padding: 0 6px;
            color: var(--turquoise);
          }
        }
      }

      &__aside {
        background-image: linear-gradient(45deg, #bdb885 0%, #dfd29c 100%);
        padding: 2em 0.75em 0.5em;
        box-shadow: inset 0 1.5em 0 rgb(0 0 0 / 5%);

        width: 280px;

        span {
          font-weight: bold;
        }
        p {
          color: #533f2d;
          font-size: 2rem;
        }
      }
    }

    .wallpapers {
        margin-bottom: 48px;
        color: var(--taupe);
    }
  }
}
