@mixin title-decoration {
    color: #fff;
    font-weight: 400;
    font-family: "Audiowide", sans-serif;
    margin: 32px 0;
    text-shadow: 0 0 0.5rem #7ed4d4, 0 0 0.25rem #7ed4d4;
}

@mixin code-decoration {
    padding: 2px;
    background: rgba(var(--taupe--rgb), 0.2);
    border-radius: 6px;
}