:root {
    --black--rgb: 2, 23, 27;
    --black: rgb(var(--black--rgb));
    --dark-green: #074d50;
    --green--rgb: 29, 99, 92;
    --green: rgb(var(--green--rgb));
    --turquoise--rgb: 20, 231, 198;
    --turquoise: rgb(var(--turquoise--rgb));
    --taupe--rgb: 218, 237, 233;
    --taupe: rgb(var(--taupe--rgb));
}